button {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  border: 1px solid var(--mainWhite);
  margin: 1rem;
  color: var(--mainWhite);
  font-size: 1.7em;
  cursor: pointer;
  width: 220px;
  height: 46px;
  line-height: 46px;
}
button:hover {
  background-color: var(--mainWhite);
  color: var(--mainBlack);
  /* color: var(--primaryColor); */
  transition: 0.5s;
}
