.hero {
  display: inline-block;
  overflow: hidden;
  /* position: relative; */
  width: 100%;
  /* padding-bottom: 3em; */
  margin: 0.5rem auto;
}
.home-hero-title {
  font-size: 4rem;
}
.home-hero-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.heroBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-background {
  pointer-events: none;
  position: absolute;
  max-width: 100%;
  height: 100%;
  z-index: -1;
}
