ul {
  /* background-color: aqua; */
  display: flex;
  /* padding-left: 1em; */
  /* justify-content: space-between; */
}
.nav-model:hover,
.menu:hover {
  color: var(--mainWhite);
  transition: 0.2s;
}

.nav-model,
.menu {
  color: var(--primaryColor);
  padding: 0 1em;
  font-size: 1.2em;
}
.logo {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  color: var(--mainWhite);
  font-size: large;
  font-weight: 600;
  font-size: 1.3em;
}
.menu-wrapper {
  width: 25%;
  justify-content: flex-end;
  display: flex;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  background-color: var(--mainBlack);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
